@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

$border-color: gray;
$border-focus-color: rgba(209, 123, 123, 0.5);
$light-red: rgba(218, 92, 81, 0.5);
$darker-red: rgba(218, 92, 82, 0.6);

body {
    margin: 0;
    font-family: 'Quicksand', 'Segoe UI', sans-serif !important; 
}